// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
  margin-left: 20px;
  margin-top: 30px;
  padding: 10px;
}

.carts, #side, #cart {
  .item_price, .total_line {
    text-align: right;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }
}

table td.shrink {
  width: 100px;
  white-space:nowrap
}

