@import "bootstrap";

.list-group-item {
  display: table-cell;
  width: 18em;
  text-align: center;
}

a, a:link, a:visited {
  text-decoration: blink;
}

th, td, caption {
  padding: 4px 10px 4px 5px;
}

.navbar-inverse {
  background-image: image-url("dep.jpg");
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  font-family: -webkit-pictograph;
  font: 100 55px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  margin-left: 9em;
}

nav.navbar.navbar-inverse.navbar-fixed-top {
  height: 103px;
}

.title_products {
  text-align: center;
  margin-right: 18em;
}

.row {
   margin-left: 0px;
   margin-right: 0px;
   margin-top: 80px;
}

p.status {
  margin-right: 35em;
}

.ellipsis {
  text-overflow: ellipsis;
   /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;

}

.col-md-3 {
  width: inherit;
}

.price {
  font-size: large;
}
