<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="title_products">
  <h2>List of products</h2>
  <h3><%= @category.name if params[:category].present? %></h3>
</div>

<%= paginate @products %>

<div class="row text-center">
    <%= render @products %>
</div>