<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="title_products">
  <h2>List of products</h2>
  <h3><%= @category.name if params[:category].present? %></h3>
</div>

<%= paginate @products %>

<div class="row text-center">
    <div class="col-md-3 col-sm-6 hero-feature">
        <%= render @products %>
    </div>
</div>